<p>The result of analysis for this image:</p>
<img src="https://scontent.fotp3-1.fna.fbcdn.net/v/t1.0-9/10369182_632067816884944_2968610805758093992_n.jpg?oh=58ba0683a978c2a67deef500e1e23a86&oe=579EAB66" class="img-thumbnail" />
<br />
<hr />
@ViewData["Result"]